/**Basic Colors**/
$color-primary: #3F3DC9;
$color-white: #FFFFFF;
$color-black: #000000;

/**Blue**/
$color-navy-blue: #2a8eff;
$color-dark-blue: #00142F;
$color-blue: #3F3DC9;
$color-blue-80: #6D6BD5;
$color-light-blue: #BDE0FF;

/**Red**/
$color-light-red: #FFB1B1;

/**Grey**/
$color-grey: #676767;
$color-grey-text: #7c7c7c;
$color-grey-80: #8E8E8E;
$color-grey-60: #D1D1D1;
$color-grey-40: #F2F2F2;

/**Green**/
$color-light-green: #00dc30;

/**System**/
$color-error: #FF6F47;
$color-bg: #f8faff;

/**Shadows**/
$box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.06);