@import "@css/config/colors.scss";
.container{
  position: relative;
  margin: 5px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.1s ease-in-out;
  &[disabled] {
    pointer-events: none;
    user-select: none;
    svg{
      fill: $color-grey-60;
      pointer-events: none;
      user-select: none;
    }
    .seatNumber{
      color: $color-grey-60;
    }
  }
}

.seatNumber{
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  position: absolute;
  color: $color-black;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
}