@import "@css/config/colors.scss";

.container {
  display: flex;
  flex-direction: column;

  .actionGroup {
    margin-top: 20px;
    align-self: end;
    button {
      margin-left: 10px;
    }
  }
}