@import '@css/config/colors.scss';

.input {
  position: relative;
  border-bottom: 1px solid $color-grey-60;

  input {
    width: 100%;
    font-size: 20px;
    line-height: 24px;
    color: $color-grey;
    border: none;
    background-color: #f8faff;
    padding: 10px;
  }

  label {
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: -5px;
    white-space: nowrap;
    overflow: hidden;
    transition: all ease-in-out 0.3s;
    color: $color-grey-text;
    font-size: 20px;
  }

  input:focus ~ label,
  input:not(:focus):valid ~ label {
    top: -18px;
    font-size: 14px;
  }
}