@import "@css/config/colors.scss";

.container{
  flex: 1 1 1px;
  padding: 0 20px;
}

.schema {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & button {
    &:hover{
      transform: scale(1.2);
      transition: all 0.2s ease-in-out;
    }
  }

  &:hover{
    .rowNumber{
      transform: scale(1.5);
      transition: all 0.2s ease-in-out;
    }
  }
}

.rowNumber {
  position: absolute;
  font-weight: 600;
  color: $color-black;
  font-size: 20px;
  user-select: none;
  left: 0;
}

.seats {
  display: flex;
}