@import "@css/config/colors.scss";

.container {
  border-radius: 8px;
  padding: 10px 15px;
  box-shadow: $box-shadow;
  display: flex;
  justify-content: space-between;
}

.inner{
  display: flex;
  flex-direction: column;
}