@import "@css/config/colors.scss";

.container {
  border-radius: 8px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid $color-grey-60;
}

.left{
  display: flex;
  justify-content: space-between;
}