@import '@css/config/colors.scss';

.track {
  flex: 0 1 120px;
  overflow: auto;
  &::-webkit-scrollbar-track
  {
    border-radius: 8px;
    background-color: #FFF;
  }
  &::-webkit-scrollbar
  {
    width: 6px;
    background-color: #FFF;
  }

  &::-webkit-scrollbar-thumb
  {
    border-radius: 8px;
    background-color: $color-grey-60;
  }
}

.item{
  margin-bottom: 10px;
}