@import "@css/mixins/media-queries.scss";

.container {
  display: flex;
  margin-right: -20px;
  margin-left: -20px;
  @include no-desktop {
    margin-right: -10px;
    margin-left: -10px;
  }
  @include mobile {
    margin: 0;
  }
}
