@import "@css/config/colors.scss";
@import "@css/mixins/media-queries.scss";

.card {
  position: relative;
  border-radius: 20px;
  box-shadow: 0 1px 6px 0 rgb(51 61 83 / 10%);
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: translateY(-3px);
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 21px 29px -23px #000000;

    img {
      transform: scale(1.1);
      transition: transform 0.3s ease-in-out;
    }

    span {
      color: $color-primary;
    }
  }
}

.top {
  border-radius: 20px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    transition: transform 0.3s ease-in-out;
  }
}

.bottom {
  padding: 20px;
}

.group {
  margin-top: 10px;
}