@import '@css/config/colors.scss';
@import '@css/common/animations.scss';
.marquee {
  position: relative;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  display: flex;
  height: 80px;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 1px 0px 20px 10px #222222;
  border-radius: 20px 20px 0 0;
  padding: 30px 0 25px;
  z-index: 2;
}

.list {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  height: 100%;
  padding-left: 100%;
  animation: animMarquee 20s infinite linear forwards;
}

span{
  color: $color-white;
}