@import './src/css/config/colors';

.header {
  background-color: $color-dark-blue;
  min-height: 50px;
  position: absolute;
  right: 0;
  left: 0;
  z-index: 100;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.buttonGroup {
  button {
    margin-left: 10px;

    &:first-child {
      margin-left: 0;
    }
  }
}



